menu.dtd

<!ELEMENT menu (section+)>
<!ELEMENT section (sectionTitle, item+)>
<!ATTLIST section type (meals|beverages) #REQUIRED>
<!ELEMENT sectionTitle (#PCDATA)>
<!ELEMENT item (name, price, description, image)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT price (#PCDATA)>
<!ELEMENT description (#PCDATA)>
<!ELEMENT image (#PCDATA)>
